* {
  font-family: sans-serif;
}

.user-img {
  width: 22px;
}

.drop-down-arrow {
  width: 9px;
}

.nav-bar-gap {
  gap: 30px;
}

.sprite-logo {
  width: 12%;
}

/* ----------first--------sec */

.sections {
  background: rgb(238 238 238);
}

.round {
  border-radius: 15px;
}

.second-nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.second-nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  background: #0000008c;
  width: fit-content;
  color: white;
  gap: 30px;
  border-radius: 10px;
  padding: 20px;
  font-weight: bold;
}

.get-update-btn {
  color: white;
  border: solid 1px white;
  background: none;
  padding: 0 100px;
  border-radius: 50px;
  height: 40px;
  font-weight: bold;
}

.sec-two-cards{
  border-radius: 30px !important;
}

.card-img-top{
  border-top-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
}

.black-box {
  padding: 60px;
}

/* -------------sec-------------two */
.carousel-img {
  height: 282px;
  /* width: 350px; */
  width: 1120px;
  object-fit: cover;
}

.carousel-main {
  /* width: 1120px; */
  background: #0000008c;
}


.social-media{
  filter: invert(1);
  width: 45px;
  cursor: pointer;
  border: solid 1px black;
  padding: 10px;
  border-radius: 20px;
}
